@import "src/@fuse/scss/fuse";

.courses {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;

    .no-courses {
        font-size: 24px;
        margin: 24px 0;
        text-align: center;
    }

    .course {
        padding: 15px 30px;

        &:hover {

            .course-content {
                border: none;
                @include mat-elevation(12);
            }
        }

        .course-content {
            // min-height: 240px;
            border-radius: 4px;
            overflow: hidden;
            transition: box-shadow 200ms ease-in-out;
            @include mat-elevation(1);

            .header {
                padding: 16px 24px;
                height: 64px !important;
                min-height: 64px !important;
                max-height: 64px !important;

                &.web-bg {
                    background: mat-color($mat-blue, 500);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .job-price, .job-title, .job-status {
                    font-size: 15px !important;
                }
                .card-head{
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    place-content: center;
                    align-items: center;
                }

                .length {

                    .length-icon {
                        margin-right: 8px;
                    }

                    .min {
                        font-size: 16px;
                    }
                }
            }

            .content {
                padding: 24px;

                .h1 {
                    font-size: 16px;
                    text-align: center;
                }

                .updated {
                    font-size: 13px;
                    font-weight: 600;
                    margin-top: 4px;
                }
            }

            .footer {
                padding: 16px;
                height: 48px !important;
                min-height: 48px !important;
                max-height: 48px !important;
                box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
            }
        }
    }
}

.start-btn{
    text-align:center;
}.start-btn button{
    background:none;
    border:none;
    color: mat-color($mat-blue, 500);
    cursor: pointer;
}