<!-- <p>seeker-job-card works!</p> -->
<!-- <p>{{data}}</p> -->
<div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

    <div class="course web card-head" *ngFor="let job of jobs" fxFlex="100" fxFlex.gt-xs="50"
            fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

        <div class="course-content" fxLayout="column" fxFlex="1 1 auto">

            <div class="header web-bg" fxLayout="row" fxLayoutAlign="center center">

                <div class="category" fxFlex>
                   Job Title : {{job.title}}
                </div>

                <div class="length" fxLayout="row" fxLayoutAlign="center center">
                    <div class="min"> Job Status : {{job.status}} </div>
                </div>

            </div>

            <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                <div class="h1">Job price : {{job.price}}</div>
                <div class="updated">Job description : {{job.description}}</div>
            </div>

            <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                <button mat-button color="accent"
                        [routerLink]="'/apps/academy/courses/' + job.id + '/' + job.slug">
                    START
                </button>
            </div>

        </div>

    </div>
</div>
