<!-- <p>job-details works!</p> -->
<div id="order" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent header-top"
             fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div class="header-top" fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16" [routerLink]="'/bidder/near-by-jobs'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{jobDetails && jobDetails.title}}<!-- Order {{order.reference}} -->
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->


        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxLayout="column" fxFlex>

                    <mat-tab label="Job Details">

                        <div class="job-details tab-content p-24" fusePerfectScrollbar>

                            <div class="section pb-48">

                                <div class="pb-16 bottom-line" fxLayout="row" fxLayoutAlign="start center">
                                    <!-- <img class="avatar mr-0 mr-sm-16" *ngIf="jobDetails" src="assets/images/avatars/Velazquez.jpg"> -->
                                    <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/Velazquez.jpg">
                                    <div class="h2 secondary-text">Customer</div>
                                </div> <br>

                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <div class="h2">Job description</div>
                                </div> <br>

                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <div class="note">
                                        {{jobDetails && jobDetails.description}}
                                    </div>
                                </div>

                            </div>

                        </div>

                    </mat-tab>

                    <mat-tab label="Bid the job">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                        <form name="bidForm" [formGroup]="bidForm" (ngSubmit)="submitBid(bidForm.value)">

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Bid Price</mat-label>
                                <input matInput placeholder="Bid Price"
                                        formControlName="price"
                                        type="number">
                                <span matPrefix>$&nbsp;</span>
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Bid Description"
                                        formControlName="description"></textarea>
                            </mat-form-field>

                            <button mat-raised-button color="accent" class="submit-button" click="submitBid(price, description)"  aria-label="SUBMIT BID"
                                    [disabled]="bidForm.invalid">
                                    SUBMIT BID
                            </button>
                        </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
