<!-- <p>my-jobs works!</p> -->
<div class="card">

 <div class="card-preview">

    <div class="fuse-card card-margin" *ngFor="let job of myJobs">

        <div class="p-16">
            <div class="h1">Job title: {{job.title}}</div>
            <div class="h2">
                Job status: {{job.status}}
            </div>
            <div class="h4 secondary-text">
                Job Price :  {{job.price}}
            </div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
            {{job.description}}
        </div>

    </div>

 </div>

</div>
