<!-- <p>my-jobs works!</p> -->
<div class="card">
 <!-- PREVIEW -->
 <div class="card-preview">

    <div class="fuse-card card-margin" *ngFor="let job of myJobs">

        <div class="p-16">
            <div class="h1">Job title: {{job.title}}</div>
            <div class="h2">
                Job status: {{job.status}}
                <!-- Kangaroo Valley Safari -->
            </div>
            <div class="h4 secondary-text">
                Job Price :  {{job.price}}
                <!-- Free on Thursdays -->
            </div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
            {{job.description}}
            <!-- Cards provide context and an entry point to more robust information and views, and their
            content and quantity can vary greatly. -->
        </div>

    </div>
 </div>
 <!-- <div class="card-preview">
    <div class="fuse-card card-margin">

        <div class="p-16">
            <div class="h1">Kangaroo Valley Safari</div>
            <div class="h4 secondary-text">Free on Thursdays</div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
            Cards provide context and an entry point to more robust information and views, and their
            content and quantity can vary greatly.
        </div>

    </div>
 </div>
<div class="card-preview">
    <div class="fuse-card card-margin">

        <div class="p-16">
            <div class="h1">Kangaroo Valley Safari</div>
            <div class="h4 secondary-text">Free on Thursdays</div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
            Cards provide context and an entry point to more robust information and views, and their
            content and quantity can vary greatly.
        </div>

    </div>
</div>
<div class="card-preview">
    <div class="fuse-card card-margin">

        <div class="p-16">
            <div class="h1">Kangaroo Valley Safari</div>
            <div class="h4 secondary-text">Free on Thursdays</div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
            Cards provide context and an entry point to more robust information and views, and their
            content and quantity can vary greatly.
        </div>

    </div>
</div>
<div class="card-preview">
    <div class="fuse-card card-margin">

        <div class="p-16">
            <div class="h1">Kangaroo Valley Safari</div>
            <div class="h4 secondary-text">Free on Thursdays</div>
        </div>

        <div class="p-16 pt-0 line-height-1.75">
            Cards provide context and an entry point to more robust information and views, and their
            content and quantity can vary greatly.
        </div>

    </div>
</div> -->

</div>
<!-- / PREVIEW -->
