<!-- <div class="content p-24"> -->

<!-- <div fxLayout="column" fxLayoutAlign="center"> -->

<div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

    <div class="course web" *ngFor="let job of myJobs" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
        [@animate]="{value:'*',params:{y:'100%'}}">

        <div class="course-content" fxLayout="column" fxFlex="1 1 auto">

            <div class="header web-bg" fxLayout="row" fxLayoutAlign="center center">

                <div class="category" fxFlex>
                    {{job && job.title | uppercase}}
                </div>
                <div class="h3">Price: {{job && job.price}}</div>
                <div class="length" fxLayout="row" fxLayoutAlign="center center">
                    <!-- <mat-icon class="length-icon s-20">access_time</mat-icon> -->
                    <div class="min">Job Status: {{job && job.status | uppercase}} </div>
                </div>

            </div>

            <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">

                <div class="updated">{{job && job.description}}</div>
            </div>

            <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                <button mat-button color="accent" [routerLink]="['/bids/bids-on-job', job.id]" fxFlex>
                    Bids Detail
                </button>
                <button mat-button color="accent" fxFlex>
                    Total Bids: {{job && job.bids}}
                </button>
            </div>

        </div>

    </div>

    <div class="no-courses" *ngIf="myJobs && myJobs.length === 0">
        No job found!
    </div>

    <!-- </div> -->
</div>